body{
  background-color: #FFFCE8;
}
#container {
  width: 100%;
  height: 100%;
}
.left-off-canvas-menu hr {
  border-color: #444444;
  margin: 5px 0 10px 0 !important; }

ul.off-canvas-list li.gs {
  padding: 0 1.08rem;
  margin-top: 8px; }

ul.off-canvas-list li a {
  border-bottom: none !important;
  font-size: 1.25rem;
  padding: 0.2rem 0.95rem !important;
  color: #cccccc;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500; }

ul.off-canvas-list li label {
  background: none !important;
  border-top: none !important;
  padding: 0.4rem 0.95rem 0.4rem 0.95rem !important;
  font-size: 0.775rem !important; }

ul.off-canvas-list li label.first {
  padding-top: 0.75rem !important; }
.zurbian img {
border-radius: 1000px;
height: 160px;
width: 160px;
display: inline-block;
margin-bottom: 10px;
}
.university-hero {
background: url(../img/main3.png) no-repeat center top;
width: 100%;
background-size: 1729px 800px;
padding-top: 175px;
margin-bottom: 80px;
}
.university-hero h1 {
color: #f00;
margin-bottom: 30px;
line-height: 1.1;
}
.university-hero p {
color: #000;
font-size: 1.25em;
font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-bottom: 350px;
}
.centered-text {
    text-align: center;
}

.boxshadow{
  box-shadow: 0 0 15px ;
}
.caption {
background: rgba(0, 0, 0, 0.8);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)\9;
color: #fff;
display: block;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
padding: 20px;

}

#bg1, #bg2, #bg3 {
  z-index:-1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url(../img/bubbles.png) repeat 0 0;
}

#bg2 {
  z-index:-1;
  background-image:url(../img/bubbles2.png);
}

#bg3 {
  z-index:-1;
  background-image:url(../img/bubbles3.png);
}


.underline-large {
width: 100%;
height: 8px;
background-color: #606060;
margin-bottom: 20px;
}
.underline-small {
width: 100%;
height: 4px;
background-color: #ABABAB;
margin-bottom: 20px;
}
.main-content{
  color:#606060;
}
.slide-box{
  margin:20px;
}
.zurb-footer-bottom {
background: #333333;
padding: 24px 0 10px;
}
.zurb-footer-bottom ul.home-social {
display: block;
float: right;
margin-bottom: 8px;
}
.zurb-footer-bottom ul.home-social li {
list-style: none;
display: block;
float: left;
margin-left: 10px;
}
.zurb-footer-bottom ul.home-social li:first-child {
margin-left: 0;
}